{% extends 'menu.html' %}
{% block pagename %}<h1>Игры</h1>{% endblock %}
{% block menu %}{{ block.super }}{% endblock %}
{% block content %}
    <ul>
        {% for game in games %}
            <li>{{ game }} <button>Купить</button></li>
        {% endfor %}
        <p>{{games}}</p>
    </ul>
{% endblock %}

<!--</html>
<head>
    <meta charset="UTF-8">
    <meta name="Viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Title</title>
</head>
<body>


    {% for i in games %}
        <p>{{i}}</p>
    {% endfor %}

</body>
</html>-->